html {
  font-family: "Oxygen";
}

body {
  background-color: #002e66;
  overflow-x: hidden;
}

.home-enter-active,
.home-leave-active {
  transition: all 0.3s;
}
.home-enter,
.home-leave-active {
  filter: blur(10px);
}

.iucn-status-container {

  width: 100%;

  .iucn-status-container-content {
    text-align: center;
  }

  & > ul {
    width: 100%;

    & > a > li {
      text-transform: capitalize;
      font-weight: bold;
      padding: 5px;
      border: 2px solid white;
      border-radius: 50px;

      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;

      position: relative;

      background-color: white;
      border-color: black;
      color: black;

      font-size: 14px;

      display: none;

      @media (max-width: 768px) {
        width: 100%;
        display: none;

        &.ex,
        &.ew,
        &.cr,
        &.en,
        &.vu,
        &.nt,
        &.lc {
          display: flex !important;
        }
      }

      &.ex {
        border-color: black;
        background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgb(0, 0, 0) 40%);
        color: darkred;
        display: flex;
      }

      &.ew {
        border-color: black;
        background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgb(0, 0, 0) 40%);
        color: white;
        display: flex;
      }

      &.cr {
        border-color: darkred;
        background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgb(139, 0, 0) 40%);
        color: white;
        display: flex;
      }

      &.en {
        border-color: white;
        background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgb(255, 69, 0) 40%);
        color: white;
        display: flex;
      }

      &.vu {
        border-color: white;
        background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgb(184, 134, 11) 40%);
        color: white;
        display: flex;
      }

      &.nt {
        border-color: lightseagreen;
        background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(32,178,170,1) 40%);
        color: white;
        display: flex;
      }

      &.lc {
        border-color: lightskyblue;
        background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgb(135, 206, 250) 40%);
        color: white;
        display: flex;
      }
    }
  }
}

.button {
  background-color: white;
  border: 2px solid white;
  color: black;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  border-radius: 8px;
  min-width: 80px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    border-color: black;
  }
}
